* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

#header2 {
    display: flex;
    justify-content: space-between;
}

.logoimg {
    width: 160px;
    margin-bottom: 50px;
    
}

/* style del timer */
.base-timer {
    position: relative;
    width: 130px;
    height: 130px;
}
  
.base-timer__svg {
    transform: scaleX(1);
}
  
.base-timer__circle {
    fill: none;
    stroke: none;
}
  
.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: none;
  }
  
.base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}
  
.base-timer__path-remaining.blu {
    color: #00FFFF;
}
  
.base-timer__path-remaining.orange {
    color: orange;
}
  
.base-timer__path-remaining.red {
    color: red;
}
  
.base-timer__label {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    color: white;
    /* text-shadow: 1px 1px 2px white; */
}

#seconds {
    position: absolute;
    width: 130px;
    height: 65px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: white;
    /* text-shadow: 1px 1px 2px white; */
}

#remaining {
    position: absolute;
    width: 130px;
    height: 188px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    color: white;
    /* text-shadow: 1px 1px 2px white; */

}
/* fine style del timer */


#question {
    color: white;
    text-align: center;
    margin: 50px;
}

#form {
    width: 650px;
    height: 150px;
}

.answer{
    color: white;
    width: 250px;
    height: 50px;
    margin: 5px 25px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
}

.answer:hover {
    background-color: #C2128D;

}

footer{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

footer p {
    color:#D20094 ;
}

.logoimg {
    width: 160px;
    margin-bottom: 50px;
    
}

.Instructions {
    width: 600px;
}

.Instructions h1 {
    font-weight: 100;
    font-size: 90px;
    color: white;
    margin-bottom: 30px;
    line-height: 65px;
}

.Instructions h3 {
    color: #C2128D;
    font-size: 30px;
    margin-bottom: 10px;
}

.Instructions p {
    color: white;
    font-size: 16px;
    margin-bottom: 40px;
    width: 500px;
}

ul {
    margin-left: 22px;
    color: white;
}

ul li {
    margin-bottom: 10px;
}


#boxsect {
    width: 950px;
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkdiv {
    width: 500px;
    margin-left: 170px;
}


#proceedBtn {
    width: 220px;
    height: 60px;
    font-size: 20px;
    font-weight: 750;
    background-color: #00FFFF;
    border: none;
    box-shadow: 0px 0px 40px #00FFFF;
    cursor: pointer;
    margin-left: 100px;
}

#proceedBtn:hover {
    box-shadow: 0px 0px 70px #00FFFF;
}

.fa-solid {
    border: 2px solid white;
    font-size: 15px;
    cursor: pointer;
    
}